*.a
*.o
*.swo
*.swp
*~
core.*
.svn
trunk/json/
trunk/log/
trunk/output/
trunk/mcp
trunk/nohup.out
trunk/info/
trunk/data_release/syncBaiduAppInfo2Mongodb
trunk/data_release/upiosmongodb
trunk/data_release/upmongodb
trunk/data_release/upstar
