MONGODB_DB_NAME=mcp
MONGODB_COLL_NAME=mcp_content_person_award
RECORD_CLASS_NAME=MCPContentPersonAwardRecord
MODULE_CLASS_NAME=MCPContentPersonAward
KEY_INDEX=user_id

class MCPContentPersonAwardRecord
{
  id:string
  user_id:string
  commodity_id:string
  kudou:string
  priority:string
}
